<template>
  <v-app>
    <v-navigation-drawer
      v-model="sideNav"
      temporary
      fixed
      app>
    <v-list dense>
        <v-list-tile 
          v-for="item in menuItems" 
          :key="item.title"
          :to="item.link">
          <v-list-tile-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>{{ item.title }}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar dark fixed app class="success">
      <v-toolbar-side-icon 
      @click.stop="sideNav = !sideNav" class="hidden-sm-and-up"></v-toolbar-side-icon>
      <v-toolbar-title>
        <router-link to="/" tag="span" style="cursor: pointer" >
          <v-icon left>business</v-icon> Aplikasi Kopdar
        </router-link> 
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items class="hidden-xs-only">
        <v-btn 
          flat v-for="item in menuItems" 
          :key="item.title"
          :to="item.link">
          <v-icon left>{{ item.icon }}</v-icon>
         {{ item.title }}
        </v-btn>
      </v-toolbar-items>
    </v-toolbar>
    <v-content>
      <main>
        <router-view></router-view>
      </main>
    </v-content>
    <v-footer
    dark
    height="auto"
    xs12 sm6
    >
      <v-card
        class="flex"
        flat
        tile
      >
        <v-card-title class="success" lighten1>
          <strong class="subheading">Tetap terhubung dengan kami di jejaring sosial!</strong>

          <v-spacer></v-spacer>

          <v-btn
            v-for="icon in icons"
            :key="icon"
            class="mx-3"
            dark
            icon
          >
            <v-icon size="24px">{{ icon }}</v-icon>
          </v-btn>
        </v-card-title>

        <v-card-actions class="grey darken-3 justify-center">
          &copy; 2018 — <strong> Aplikasi Kopdar</strong>
        </v-card-actions>
      </v-card>
    </v-footer>
  </v-app>
</template>

<script>
  export default {
    data: () => ({
      sideNav: null,
      menuItems: [
        { icon: 'group', title: 'Lihat Daftar Meeting', link: '/meetups' },
        { icon: 'room', title: 'Atur Jadwal Meeting', link: '/meetup/new' },
        { icon: 'person', title: 'Profile', link: '/user/profile' },
        { icon: 'info', title: 'Tentang', link: '/about' },
        { icon: 'face', title: 'Sign-In', link: '/auth/login' },
        { icon: 'lock_open', title: 'Sign-Up', link: '/auth/register' }
      ],
      icons: [
        'fab fa-facebook',
        'fab fa-twitter',
        'fab fa-linkedin',
        'fab fa-instagram'
      ]
    })
  }
</script>