<template>
  <v-container>
    <v-layout justify-center >
      <v-flex xs12 sm10 md8 lg6>
        <h2 class="secondary--text">Buat Jadwal Kopdar</h2>
        <v-form v-model="valid" @submit.prevent="onCreateMeetup">
          <v-card>
            <v-card-text>
              <v-text-field
                label="Title"
                name="title"
                id="title"
                v-model="title"
                :rules="titleRules"
                required
                ></v-text-field>
              <v-text-field 
                label="Location"
                name="location"
                id="location"
                v-model="location"
                :rules="locationRules"
                required
                ></v-text-field>
              <v-text-field 
                label="Image URL"
                name="imageUrl"
                id="image-url"
                v-model="imageUrl"
                :rules="imageUrlRules"
                hint="Contoh url-gambar: http://blablabla.com/assets/image.jpg"
                required
                ></v-text-field>
              <img :src="imageUrl" width="100%" height="200" :hidden="!imageUrl">
              <v-textarea
                label="Description"
                name="description"
                id="description"
                v-model="description"
                :rules="descriptionRules"
                required
                ></v-textarea>
              <v-date-picker 
                v-model="date" 
                :landscape="landscape"
                color="green lighten-1"
                full-width
                ></v-date-picker>
              <v-checkbox 
                v-model="landscape" 
                label="Landscape"></v-checkbox>
              <v-time-picker 
                v-model="time" 
                :landscape="landscape" 
                class="mb-2"
                format="24hr"></v-time-picker>
            </v-card-text>
            <v-divider class="mt-5"></v-divider>
            <v-btn color="primary" :disabled="!formValidate" type="submit">Create Jadwal Kopdar</v-btn>
          </v-card>
        </v-form>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
export default {
  data: () => ({
    valid: false,
    title: '',
    titleRules: [
      v => !!v || 'Judul tidak boleh kosong'
    ],
    location: '',
    locationRules: [
      v => !!v || 'Lokasi tidak boleh kosong'
    ],
    imageUrl: '',
    imageUrlRules: [
      v => !!v || 'Image URL tidak boleh kosong'
    ],
    date: new Date().toISOString().substr(0, 10),
    time: new Date(),
    landscape: false,
    description: '',
    descriptionRules: [
      v => !!v || 'Deskripsi tidak boleh kosong'
    ]
  }),
  computed: {
    formValidate () {
      return this.title && this.location && this.imageUrl && this.description
    },
    submittableDateTime () {
      const date = new Date(this.date)
      if (typeof this.time === 'string') {
        const hours = this.time.match(/^(\d+)/)[1]
        const minutes = this.time.match(/:(\d+)/)[1]
        date.setHours(hours)
        date.setMinutes(minutes)
      } else {
        date.setHours(this.time.getHours())
        date.setMinutes(this.time.getMinutes())
      }
      return date
    }
  },
  methods: {
    onCreateMeetup () {
      if (!this.formValidate) {
        return
      }
      const meetupData = {
        title: this.title,
        location: this.location,
        imageUrl: this.imageUrl,
        description: this.description,
        date: this.submittableDateTime
      }
      this.$store.dispatch('createMeetup', meetupData)
      this.$router.push('/meetups')
    }
  }
}
</script>
