<template>
  <v-container>
    <v-layout row wrap v-for="meetup in meetups" :key="meetup.id" class="mb-2">
      <v-flex xs-12 sm10 md8 offset-sm1 offset-md2>
        <v-card class="teal">
          <v-container fluid>
            <v-layout>
              <v-flex xs5 sm4 md3>
                <v-img
                    :src="meetup.imageUrl"
                    height="130px"
                  ></v-img>
              </v-flex>
              <v-flex xs7 sm8 md9>
                  <v-card-title primary-title>
                    <div>
                      <div class="headline white--text">{{ meetup.title }}</div>
                      <div class="white--text"><v-icon left class="white--text">room</v-icon> {{ meetup.location }}</div>
                      <div class="white--text"><v-icon left class="white--text">event</v-icon> {{ meetup.date | date }}</div>
                    </div>
                  </v-card-title>
                  <v-card-actions>
                    <v-btn flat dark v-bind:to="'/meetups/' + meetup.id"><v-icon left>arrow_forward</v-icon> Lihat Meeting</v-btn>
                  </v-card-actions>
                </v-flex>
            </v-layout>
          </v-container>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
export default {
  computed: {
    meetups () {
      return this.$store.getters.loadedMeetups
    }
  }
}
</script>
