<template>
 <v-container>
  <v-layout row wrap>
     <v-flex xs12>
      <v-card>
        <v-card-title>
         <h2 class="accent--text">{{ meetup.title }}</h2>
        </v-card-title>
        <v-img 
         :src="meetup.imageUrl" 
         height="400px"></v-img>
        <v-card-text>
         <div class="info--text"><v-icon left>event</v-icon> {{ meetup.date | date }} - <v-icon left>room</v-icon> {{ meetup.location }}</div>
         {{ meetup.description }}
        </v-card-text>
        <v-card-actions>
         <v-spacer></v-spacer>
         <v-btn class="info"><v-icon left>done</v-icon> Proses Meeting</v-btn>
        </v-card-actions>
      </v-card>       
     </v-flex>
  </v-layout>
 </v-container>
</template>
<script>
export default {
  props: ['id'],
  computed: {
    meetup () {
      return this.$store.getters.loadedMeetup(this.id)
    }
  }
}
</script>
